@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

a{
  text-decoration: none;
  color: #000;
}
.logo a {
  font-size: 32px;
  font-weight: bold;
  font-family: Hind Siliguri;
}
ul.navbar-nav.m-auto {
  font-size: 23px;
  font-weight: bold;
}
li.nav-item {
  margin: 15px;
  border: 1px solid;
  padding: 2px;
  border-radius: 10px;
  background: white;
  color: #fff !important;
  font-family: Hind Siliguri;
}
span.heading h1 {
  color: blue;
  font-size: 89px;
}
span.heading h1 {
  color: blue;
  font-size: 70px;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: bold;
}
.container.about p {
  font-size: 26px;
  font-weight: 500;
}
h3.title {
  font-weight: bold;
  text-align: justify;
  margin-bottom: 14px;
  font-family: 'Hind Siliguri';
  margin-top: 22px;
}
h4.description {
  font-family: 'Hind Siliguri';
}
.text-center.sectiontitle {
  font-family: 'Hind Siliguri';
  font-weight: bold;
  color: red;
  font-size: 3.7rem;
}
p.aboutdes.mt-3 {
  font-family: 'Hind Siliguri';
}
.font{
  font-family: 'Hind Siliguri';
}
img.img-fluid.schoolimage {
  border: 6px solid #000;
  border-radius: 10px;
}
h1.font.font-weight-bold.atitle {
  font-weight: bold;
}
h4.font.font-weight-bold.ades {
  font-size: 34px;
  /* letter-spacing: 0px; */
  /* word-spacing: 0; */
}
.text-center.sectiontitle h1 {
  font-size: 3.7rem;
  font-weight: bold;
}